*{
  margin: 0px;
padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.top{
  padding-top: 3%;
  font-size: 25px;
  vertical-align: middle;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  float:top;
  width:97%;
  background-color:rgba(143, 255, 240, 0.774);
  height: 130px;
}
hr{
  height: 5px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(168, 255, 243); 
}
body{
  background-color:rgba(167, 255, 255, 0.849);
}
.tablaqhablasola{
  text-align: left;

}

.tablita {
  text-align: left;
  width: 50%;
  height: 100%;
}

th,td{
  width: 5%;
}


.agregar{
  text-align: left;
  cursor: pointer;
  background-color: rgb(215, 255, 163);
  color: rgb(0, 0, 0);
  width: 120px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.borrar{
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(241, 255, 163);
  color: rgb(255, 255, 255);
  width: 120px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}