.principal{
    border: solid 1px #979797;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background: #5fa8f5;
}

body{
    background-image: url(imagenes/fondo.jpg);
}


legend{
    border: solid 1px #5fa8f5;
    padding: 5px;
    font-weight: bold;
    background: #979797;
    border-radius: 15px;
}

fieldset{
    margin-bottom: 10px;
}

.foto{
    border: solid 2px;
    margin: 10px;
}



